@model IEnumerable<AboutUsViewModel>
@foreach (var item in Model)
{
    <div class="col col-xs-12">
        <div class="inner clearfix">
            <div class="left-col">
                <div class="section-title">
                    <span>Haqqımızda</span>
                    <h2>@item.Title</h2>
                </div>
                <div class="details">
                    <p>@item.Text</p>
                    <h5>Phone:@item.Settings.Phone</h5>
                </div>
            </div>
            <div class="right-col">
                <div class="about-info">
                    <h3>@item.SubTitle</h3>
                    <p>@item.About</p>
                    <a href="#" class="theme-btn">Daha ətraflı</a>
                </div>
            </div>
        </div>
        <div class="fun-fact-area">
            <div class="fun-fact-grids clearfix">
                <div class="grid">
                    <div class="info">
                        <h3><span class="odometer" data-count="@item.PolicyCount">00</span>+</h3>
                        <p>Bağlanmış sığorta müqavilələri</p>
                        <p>@item.PolicyText</p>
                        <a href="#" class="theme-btn-s3">@item.PolicyActionText</a>
                    </div>
                </div>
                <div class="grid">
                    <div class="info">
                        <h3><span class="odometer" data-count="@item.ClaimPercent">00</span>%</h3>
                        <p>Ödənilən haq göstəricisi</p>
                        <p>@item.ClaimText</p>
                        <a href="#" class="theme-btn-s3">@item.ClaimActionText</a>
                    </div>
                </div>
                <div class="grid">
                    <div class="info">
                        <h3><span class="odometer" data-count="@item.OfficeCount">00</span></h3>
                        <p>Beynəlxalq ofis sayı</p>
                        <p>@item.OfficeText</p>
                        <a href="#" class="theme-btn-s3">@item.OfficeActionText</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
