@model IEnumerable<CaseStudyViewModel>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col col-md-6">
            <div class="img-holder">
                <img src="~/images/project-single/@item.Image" alt="">
            </div>
        </div>
        <div class="col col-md-6">
            <div class="project-details">
                <h2>@item.MainTitle</h2>
                <h3>@item.Title</h3>
                <p>@item.Text</p>
                <div class="project-info">
                    <ul class="clearfix">
                        @foreach (var specs in item.studySpecs)
                        {
                            <li><span>@specs.Key:</span> @specs.Value</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <div class="project-single-tab clearfix">
                <ul class="nav">
                    <li >
                        <a href="#precautions" data-toggle="tab">Təcrübə</a>
                    </li>
                    <li>
                        <a href="#intelligence" data-toggle="tab">Həll Yolu</a>
                    </li>
                    <li>
                        <a href="#specializations" data-toggle="tab">Nəticə</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade" id="precautions">
                        <p>@item.ChallengeText</p>
                    </div>
                    <div class="tab-pane fade" id="intelligence">
                        <p>@item.SolutionText</p>
                    </div>
                    <div class="tab-pane fade" id="specializations">
                        <p>@item.ResultText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    break;
}

